<mat-sidenav-container class="flex flex-col bg-sky-900 h-1/2">
    <div class="flex flex-row mt-10 ml-24 mr-24 bg-white justify-between h-2/3">
        <div class="flex flex-col">
            <ul>
                <li class="">Category</li>
                <li><a href="">Features</a></li>
                <li><a href="">Popular</a></li>
                <li><a href="">New Releases</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <ul>
                <li>Information</li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <ul>
                <li>Useful Links</li>
                <li><a href="">Term & Conditions</a></li>
                <li><a href="">Return & Exchanges</a></li>
                <li><a href="">Shopping & Delivery</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="flex flex-col">
            <p>Contact Information</p>
            <div class="flex flex-row">
                <mat-icon>place</mat-icon>
                <p>Kampong Speu, Cambodia</p>
            </div>
            <div class="flex flex-row">
                <mat-icon>local_phone</mat-icon>
                <p>+855 86 269 039</p>
            </div>
            <div class="flex flex-row">
                <mat-icon>timer</mat-icon>
                <p>Open 24/7</p>
            </div>
            <div class="flex flex-row">
                <mat-icon>mail</mat-icon>
                <p>bookworm.info@gmail.com</p>
            </div>
        </div>
    </div>
</mat-sidenav-container>
